body {
    margin: 0;
    padding: 0;
    border: 0px;
    background-color: #0b1d3a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

form{
    background-color: #12294d;
    padding: 10px;
    border-radius: 20px;
    width: 280px;
    max-width: 400px;
    height: 350px;
    text-align: center;
    color: rgb(255, 255, 255);
    box-shadow: 2px 4px 8px #1f4b94;
}

div{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label{
    font-size: 16px;
    margin-bottom: 5px;
    text-align: start;
}

button{
    border-radius: 10px;
    width: 80px;
    height: 40px;
    font-size: 14px;
    margin: 20px;
}

input{
    width: 270px;
    height: 25px;
    color: black;
    border-radius: 8px;
    border: 3px solid #787878;
}
input:focus{
    border: 3px solid #b42020;
}